<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <p class="text-left text-muted">
                    &copy; Keeley Peacock 2020
                </p>
            </div>
            <div class="col-sm">
                <p class="text-center text-muted">
                    
                </p>
            </div>
            <div class="col-sm">
                <p class="text-right text-muted">
                    v{{version}}
                </p>
            </div>
        </div>
    </div>
</footer>